{% extends "mock_site/base.html" %}
{% block content %}
	<article class="media content-section">
	  <img class="rounded-circle article-img" src="{{ session.participant.profile.image.url }}">
	  <div class="media-body">
	    <div class="article-metadata">
	      <a class="mr-2" href="{% url 'user-sessions' object.participant.username %}">{{ object.participant }}</a>
	      <small class="text-muted">{{ object.start_time | date:"F d, Y"}}</small>
	    </div>
	    <h2 class="article-title">{{ object.title }}</h2>
	    <p class="article-content">{{ object.content }}</p>
	  </div>
	</article>
{% endblock content %}